In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("SummerStudentAdmissions2.csv")
data.head(100)

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
2,Banana,California,3.80,2.3,970.0,98,0.0,5
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

In [160]:
df_filled = data.fillna("N/A")
df_filled

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.9,6.7,962.0,100,1.0,0
1,Admit,Florida,3.8,1.4,969.0,97,1.0,4
2,Banana,California,3.8,2.3,970.0,98,0.0,5
3,Admit,Colorado,3.6,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

### Dropping all NA

In [161]:
data = data.dropna()
data

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
2,Banana,California,3.80,2.3,970.0,98,0.0,5
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

### Decision Cleaning

In [162]:
print("Decision Unique Values:", data['Decision'].unique())

Decision Unique Values: ['Admit' 'Banana' 'Decline' 'Waitlist']

In [163]:
data = data[data["Decision"] != "Banana"]

In [164]:
print("Decision Unique Values:", data['Decision'].unique())

Decision Unique Values: ['Admit' 'Decline' 'Waitlist']

### State

In [165]:
print("State Unique Values:", data['State'].unique())
data["State"] = data["State"].str.title()

State Unique Values: ['California' 'Florida' 'Colorado' 'Utah' 'Oregon' 'Virginia' 'virginia'
 'mississippi' 'New York' 'Alabama' 'Georgia' 'Vermont']

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/240728774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["State"] = data["State"].str.title()

In [166]:
print("State Unique Values:", data['State'].unique())

State Unique Values: ['California' 'Florida' 'Colorado' 'Utah' 'Oregon' 'Virginia'
 'Mississippi' 'New York' 'Alabama' 'Georgia' 'Vermont']

### GPA

In [167]:
print("GPA Unique Values:", data['GPA'].unique())

GPA Unique Values: [3.9  3.8  3.6  3.92 3.88 3.7  3.93 3.69 3.78 3.5  3.65 3.75 6.   3.54
 3.66 3.55 3.59 3.77 3.87 3.56 3.79 3.71 3.74 3.61 3.84 2.81 2.34 2.9
 3.33 3.37 3.   3.1  3.22 3.44 2.98 2.77 3.18 3.11 3.32 3.01 2.91 2.85
 3.21 3.4  3.45 3.41 3.53 3.39 3.52 3.49 3.43 3.29 3.58 3.57 3.51 3.47
 3.46]

In [168]:
data["GPA"] = data["GPA"].where(data["GPA"] <= 4, np.nan)
print("GPA Unique Values:", data['GPA'].unique())
data["GPA"] = data["GPA"].astype(float)

GPA Unique Values: [3.9  3.8  3.6  3.92 3.88 3.7  3.93 3.69 3.78 3.5  3.65 3.75  nan 3.54
 3.66 3.55 3.59 3.77 3.87 3.56 3.79 3.71 3.74 3.61 3.84 2.81 2.34 2.9
 3.33 3.37 3.   3.1  3.22 3.44 2.98 2.77 3.18 3.11 3.32 3.01 2.91 2.85
 3.21 3.4  3.45 3.41 3.53 3.39 3.52 3.49 3.43 3.29 3.58 3.57 3.51 3.47
 3.46]

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/3777662268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["GPA"] = data["GPA"].where(data["GPA"] <= 4, np.nan)
/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/3777662268.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["GPA"] = data["GPA"].astype(float)

In [169]:
data = data.dropna()
data

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3
6,Admit,California,3.88,1.5,967.0,95,1.0,5
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

### WorkExp

In [170]:
print("Work Experience Unique Values:", data['WorkExp'].unique())
data["WorkExp"] = data["WorkExp"].where(data["WorkExp"] <= 10, np.nan)
data = data.dropna()
print("Work Experience Unique Values:", data['WorkExp'].unique())
data["WorkExp"] = data["WorkExp"].astype(float)

Work Experience Unique Values: [  6.7   1.4   0.9   1.2   1.5   4.7   0.8   3.2   3.7   3.8   2.7   0.7
   1.7   1.1   8.7   2.2   0.    1.    1.9   1.3   9.2   1.6   6.2   4.6
 100.    3.5   1.8   7.2   2.    3.3   3.4]
Work Experience Unique Values: [6.7 1.4 0.9 1.2 1.5 4.7 0.8 3.2 3.7 3.8 2.7 0.7 1.7 1.1 8.7 2.2 0.  1.
 1.9 1.3 9.2 1.6 6.2 4.6 3.5 1.8 7.2 2.  3.3 3.4]

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/553858695.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WorkExp"] = data["WorkExp"].astype(float)

### TestScore

In [171]:
print("Test Score Unique Values:", data['TestScore'].unique())
data["TestScore"] = data["TestScore"].astype(float)
data

Test Score Unique Values: [962. 969. 967. 961. 966. 799. 965. 963. 956. 968. 899. 867. 789. 800.
 765. 896. 764. 754. 769. 766. 768. 751. 767. 757. 763. 758. 753. 762.
 859. 869. 866. 868. 855. 865. 864. 853. 862.]

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/988366944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["TestScore"] = data["TestScore"].astype(float)

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3
6,Admit,California,3.88,1.5,967.0,95,1.0,5
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

### Writing Score

Taking out the writing score of 1 because by the IQR rule, it is an outlier.

In [172]:
print("Writing Score Unique Values:", data["WritingScore"].unique())
data["WritingScore"] = data["WritingScore"].where(data["WritingScore"] >= 2, np.nan)
data = data.dropna()
print("Writing Score Unique Values:", data["WritingScore"].unique())
data["WritingScore"] = data["WritingScore"].astype(float)

Writing Score Unique Values: [100  97  95  94  93  99  98   1  91  90  11  88  89  87  78  77  82  56
  76  81  79  75  65  74  71  73  72  69  70  85  83  86  84  80]
Writing Score Unique Values: [100.  97.  95.  94.  93.  99.  98.  91.  90.  11.  88.  89.  87.  78.
  77.  82.  56.  76.  81.  79.  75.  65.  74.  71.  73.  72.  69.  70.
  85.  83.  86.  84.  80.]

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/1230558835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WritingScore"] = data["WritingScore"].where(data["WritingScore"] >= 2, np.nan)
/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/1230558835.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WritingScore"] = data["WritingScore"].astype(float)

## Gender

In [179]:
print("Gender Unique Values:", data['Gender'].unique())
data = data[data["Gender"] != -1]

Gender Unique Values: [ 1.  0. -1.]

In [181]:
print("Gender Unique Values:", data['Gender'].unique())
data["Gender"] = data["Gender"].astype(int)

Gender Unique Values: [1. 0.]

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/3036837051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Gender"] = data["Gender"].astype(int)

### Volunteer Level

In [174]:
data["VolunteerLevel"].unique()

array([0, 4, 2, 3, 5, 1])

In [175]:
from pandas.api.types import CategoricalDtype

categories = [0, 1, 2, 3, 4, 5]
data["VolunteerLevel"] = data["VolunteerLevel"].astype(CategoricalDtype(categories, ordered=True))
data

/var/folders/6v/89r64wv93m755nc3vd7v0jv40000gp/T/ipykernel_8036/1384695280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["VolunteerLevel"] = data["VolunteerLevel"].astype(CategoricalDtype(categories, ordered=True))

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100.0,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97.0,1.0,4
3,Admit,Colorado,3.60,0.9,969.0,97.0,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95.0,-1.0,3
6,Admit,California,3.88,1.5,967.0,95.0,1.0,5
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85.0,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81.0,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88.0,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77.0,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89.0,1.0,0

In [182]:
data.dtypes

Decision            object
State               object
GPA                float64
WorkExp            float64
TestScore          float64
WritingScore       float64
Gender               int64
VolunteerLevel    category
dtype: object

In [184]:
data

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100.0,1,0
1,Admit,Florida,3.80,1.4,969.0,97.0,1,4
3,Admit,Colorado,3.60,0.9,969.0,97.0,0,2
6,Admit,California,3.88,1.5,967.0,95.0,1,5
7,Admit,California,3.70,1.2,969.0,94.0,1,2
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85.0,1,1
84,Waitlist,Florida,3.52,0.7,868.0,81.0,0,4
85,Waitlist,Florida,3.51,3.4,865.0,88.0,1,3
86,Waitlist,California,3.47,2.2,867.0,77.0,1,5
87,Waitlist,Florida,3.46,1.9,869.0,89.0,1,0

### Exporting

In [183]:
data.to_csv("./cleaned_data/data_cleaned.csv", header = True)